{% extends "base.html" %}
{% load static %}
{% block title %}Рецепты{% endblock %}
{% block link_css %}
	<link rel="stylesheet" href="{% static 'recipes/pages/index.css' %}">
{% endblock %}

{% block nav %}
	{% include "includes/nav.html" with active_tab='Рецепты' %}
{% endblock nav %}

{% block content %}
	{% csrf_token %}
	<div class="main__header">
		<h1 class="main__title">{% block header_title %}Рецепты{% endblock %}</h1>
		{% include "recipes/includes/tags_block.html" %}
	</div>
	{% block subscribe_button %}{% endblock subscribe_button %}
	<div class="card-list">
		{% for recipe in page_obj %}
			{% include "recipes/includes/recipe_item_preview.html" with recipe=recipe%}
		{% empty %}
			<div class="custom-center-block">
				<p class="custom-text-block">
				{% block message_for_empty %}Мы не нашли рецептов с хотя бы одним из выбранных тегов{% endblock %}</p>
			</div>
		{% endfor %}
	</div>
	{% if page_obj.has_other_pages %}
		{% include "includes/paginator.html" with items=page_obj paginator=paginator %}
	{% endif %}
{% endblock content %}

{% block scripts %}
	<script src="{% static 'recipes/js/components/MainCards.js' %}"></script>
	
	<script src="{% static 'recipes/js/components/Purchases.js' %}"></script>
	<script src="{% static 'recipes/js/components/Favorites.js' %}"></script>
	
	<script src="{% static 'recipes/js/config/config.js' %}"></script>
	<script src="{% static 'recipes/js/components/CardList.js' %}"></script>
	<script src="{% static 'recipes/js/components/Header.js' %}"></script>
	
	<script src="{% static 'recipes/js/api/Api.js' %}"></script>
	{% if user.is_authenticated %}
		<script src="{% static 'recipes/indexAuth.js' %}"></script>
	{% else %}
		<script src="{% static 'recipes/indexNotAuth.js' %}"></script>
	{% endif %}
{% endblock scripts %}