{% load static %}
<div class="card" data-id="{{ recipe.id }}">
	<a href="{{ recipe.get_absolute_url }}" class="link" target="_blank"><img src="{% static 'recipes/images/testCardImg.png' %}" alt="Вариант сервировки" class="card__image"></a>
	<div class="card__body">
		<a class="card__title link" href="{{ recipe.get_absolute_url }}" target="_blank">{{ recipe.title }}</a>
		<ul class="card__items">
			{% for tag in recipe.tags.all %}
				<li class="card__item">
					<span class="badge badge_style_{{ tag.color }}">
						{{ tag.get_name_display }}
					</span>
				</li>
			{% endfor %}
		</ul>
		<div class="card__items card__items_column">
			<p class="card__text"><span class="icon-time"></span> {{ recipe.time_for_preparing }} мин.</p>
			<p class="card__text"><span class="icon-user"></span> <a href="#" style="color: black">{{ recipe.author.username }}</a></p>
		</div>
	</div>
	<div class="card__footer">
		<button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
		{% if user.is_authenticated %}
			{% if not recipe.is_favorite %}
				<button class="button button_style_none" name="favorites" data-out>
					<span class="icon-favorite"></span>
				</button>
			{% else %}
				<button class="button button_style_none" name="favorites">
					<span class="icon-favorite icon-favorite_active"></span>
				</button>
			{% endif %}
		{% endif %}
	</div>
</div>