{% extends "base.html" %}
{% load static recipes_custom_tags %}
{% block title %}Сброс пароля{% endblock %}
{% block link_css %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block nav %}
    {% include "includes/nav.html" %}
{% endblock nav %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title">Сброс пароля</h1>
    </div>
    <div class="custom-center-block">
        <p class="custom-text-block">Мы отправили Вам сообщение для сброса пароля на указанный адрес.</p>
    </div>
{% endblock %}