{% extends "base.html" %}
{% load static recipes_custom_tags %}
{% block title %}Изменить пароль{% endblock %}
{% block link_css %}
	<link rel="stylesheet" href="{% static 'pages/form.css' %}">
	<link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block nav %}
	{% include "includes/nav.html" %}
{% endblock nav %}

{% block content %}
	<div class="custom-center-block">
		<div class="custom-button-block">
			<a href="{% url 'index' %}">Перейти на главную</a>
		</div>
	</div>
{% endblock %}