{% extends "base.html" %}
{% load static users_custom_tags %}
{% block title %}Войти на сайт{% endblock %}
{% block link_css %}
	<link rel="stylesheet" href="{% static 'users/pages/form.css' %}">
{% endblock %}

{% block nav %}
	{% include "includes/nav.html" %}
{% endblock nav %}

{% block content %}
	<div class="main__header">
		<h1 class="main__title">Войти на сайт</h1>
	</div>
	<div class="form-container">
		<form class="form" method="post" action="{% url 'login' %}">
			{% csrf_token %}
			<div class="form__group">
				<label for="{{ form.username.id_for_label }}" class="form__label">Имя</label>
				<div class="form__field-group">
					{% field_with_additional_attrs form.username class="form__input" %}
					{% for error in form.username.errors %}
						<span class="form__error">{{ error }}</span>
					{% endfor %}
				</div>
			</div>
			<div class="form__group">
				<label for="{{ form.password.id_for_label }}" class="form__label">Пароль</label>
				<div class="form__field-group">
					{% field_with_additional_attrs form.password class="form__input" %}
					{% for error in form.password.errors %}
						<span class="form__error">{{ error }}</span>
					{% endfor %}
				</div>
			</div>
			<div class="form__footer">
				<button class="button button_style_blue">Войти</button>
				<a href="#" class="form__forgot-link">Забыли пароль?</a>
			</div>
		</form>
	</div>
{% endblock content %}

