<nav class="nav">
	<div class="nav__container container">
		<ul class="nav__items list">
			{% if not active_tab %}
				<li class="nav__item nav__item_disabled">
					<a class="nav__link link">Рецепты</a>
				</li>
			{% else %}
				<li class="nav__item {% if active_tab == 'Рецепты' %}nav__item_active{% endif %}">
					<a href="{% url 'index' %}" class="nav__link link">Рецепты</a>
				</li>
			{% endif %}
			{% if not active_tab %}
				<li class="nav__item nav__item_disabled">
					<a class="nav__link link">Мои подписки</a>
				</li>
			{% else %}
				<li class="nav__item {% if active_tab == 'Мои подписки' %}nav__item_active{% endif %}">
					<a href="{% url 'subscriptions' %}" class="nav__link link">Мои подписки</a>
				</li>
			{% endif %}
			{% if not active_tab %}
				<li class="nav__item nav__item_disabled">
					<a class="nav__link link">Создать рецепт</a>
				</li>
			{% else %}
				<li class="nav__item {% if active_tab == 'Создать рецепт' %}nav__item_active{% endif %}">
					<a href="{% url 'recipe_new' %}" class="nav__link link">Создать рецепт</a>
				</li>
			{% endif %}
			{% if not active_tab %}
				<li class="nav__item nav__item_disabled">
					<a class="nav__link link">Избранное</a>
				</li>
			{% else %}
				<li class="nav__item {% if active_tab == 'Избранное' %}nav__item_active{% endif %}">
					<a href="{% url 'favorites' %}" class="nav__link link">Избранное</a>
				</li>
			{% endif %}
			{% if not active_tab %}
				<li class="nav__item nav__item_disabled">
					<a class="nav__link link">Список покупок</a>
				</li>
			{% else %}
				<li class="nav__item {% if active_tab == 'Список покупок' %}nav__item_active{% endif %}">
					<a href="{% url 'purchases' %}" class="nav__link link">Список покупок</a>
					<span class="badge badge_style_blue nav__badge" id="counter">{{ user.purchases.count }}</span>
				</li>
			{% endif %}
		</ul>
		<ul class="nav__items list">
			<li class="nav__item"><a href="{% url 'account_change_password' %}" class="nav__link link">Изменить пароль</a></li>
			<li class="nav__item"><a href="{% url 'account_logout' %}" class="nav__link link">Выход</a></li>
		</ul>
	</div>
</nav>