<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,  minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{% block title %}Title{% endblock %}</title>
		{% load static %}
		{% block link_css %}
		<!-- <link rel="stylesheet" href="{% static 'path-to-css' %}"> -->
		{% endblock %}
	</head>

	<body class="body">
		<header class="header">
			{% block nav %}
			<!-- Панель навигации -->
			{% endblock nav %}
		</header>
		{% if messages %}
			<div class="custom-center-block">
				{% for message in messages %}
					<p class="custom-text-block">{{ message }}</p>
				{% endfor %}
			</div>
		{% endif %}
		<main class="main container">
			{% block content %}
			<!-- Содержимое страницы -->
			{% endblock content %}
		</main>
		{% include 'includes/footer.html' %}
		{% block scripts %}{% endblock scripts %}
	</body>

</html>