{% load static %}
<div class="card" data-id="124">
	<a href="#" class="link" target="_blank"><img src="{% static 'recipes/images/testCardImg.png' %}" alt="Какой-то текст" class="card__image"></a>
	<div class="card__body">
		<a class="card__title link" href="#" target="_blank">{{ recipe.title }}</a>
		<ul class="card__items">

			{% for tag_id, tag_name in recipe.tags.choices.items %}
				{% if tag_id in recipe.tags %}
					<li class="card__item">
						<span class="badge badge_style_{% cycle 'orange' 'green' 'purple'%}">
							{{ tag_name }}
						</span>
					</li>
				{% endif %}
			{% endfor %}

		</ul>
		<div class="card__items card__items_column">
			<p class="card__text"><span class="icon-time"></span> {{ recipe.time_for_preparing }} мин.</p>
			<p class="card__text"><span class="icon-user"></span> <a href="#" style="color: black">{{ recipe.author.username }}</a></p>
		</div>
	</div>
	<div class="card__footer">
		<button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
	</div>
</div>