{% extends "base.html" %}
{% load static custom_tags %}
{% block title %}Создание рецепта{% endblock %}
{% block css_file %}'recipes/pages/index.css'{% endblock %}
{% block link_css %}<link rel="stylesheet" href="{% static 'recipes/pages/form.css' %}">{% endblock %}

				 
{% block nav %}
	{% include "recipes/includes/nav_auth.html" with active_tab=3 added_recipes_count=4 %}
{% endblock nav %}


{% block content %}
	<div class="main__header">
		<h1 class="main__title">Создание рецепта</h1>
	</div>
	<div class="form-container">
		<form class="form" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form__group">
				<label for="{{ form.title.auto_id }}" class="form__label">Название рецепта</label>
				<div class="form__field-group">
					{{ form.title|add_class:"form__input" }}
					<span class="form__error">{{ form.title.errors.0 }}</span>
				</div>
			</div>
			<div class="form__group">
				<p class="form__label">Теги</p>
				<div class="form__field-group">
					<div class="tags">
						{% for value, text in form.tags.field.choices %}
							<div class="tags__item">
								<input id="id_{{ value }}" name="{{ form.tags.name }}" type="checkbox" value="{{ value }}"
									class="tags__checkbox tags__checkbox_style_{% cycle 'orange' 'green' 'purple' %}"
									{% if value in form.tags.value %} checked="checked"{% endif %}>
								<label for="id_{{ value }}" class="tags__label">
									{{ text }}
								</label>
							</div>
						{% endfor %}
					</div>
					<span class="form__error">{{ form.tags.errors.0 }}</span>
				</div>
			</div>
			<div class="form__group">
				<label for="nameIngredient" class="form__label">Ингредиенты</label>
				<div class="form__field-group">
					<div class="form__field-group-ingredientes">
						<div class="form__dropdown">
							<input type="text" id="nameIngredient" class="form__input">
							<div class="form__dropdown-items"></div>
						</div>
						<input type="number" id="cantidad" class="form__input" min="1">
						<label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
					</div>
					<div class="form__field-group-ingredientes-container">
						{% for ing_form in ingredient_forms %}
							<div class="form__field-item-ingredient" id="ing_{{ forloop.counter }}">
								<span> {{ ing_form.food_product_name.value }} {{ ing_form.quantity.value }} шт.</span>
								<span class="form__field-item-delete"></span>
								<input id="nameIngredient_{{ forloop.counter }}" name="nameIngredient_{{ forloop.counter }}" type="hidden" value="{{ ing_form.food_product_name.value }}">
								<input id="valueIngredient_{{ forloop.counter }}" name="valueIngredient_{{ forloop.counter }}" type="hidden" value="{{ ing_form.quantity.value }}">
								<input id="unitsIngredient_{{ forloop.counter }}" name="unitsIngredient_{{ forloop.counter }}" type="hidden" value="шт.">
							</div>
						{% endfor %}
					</div>
					<span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
					{% for ing_form in ingredient_forms %}
						<span class="form__error">{{ ing_form.food_product_name.errors.0 }}</span>
						<span class="form__error">{{ ing_form.quantity.errors.0 }}</span>
					{% empty %}
						<span class="form__error">{{ missing_ingredients_error }}</span>
					{% endfor %}
				</div>
			</div>
			<div class="form__group">
				<label for="id_time" class="form__label">Время приготовления</label>
				<div class="form__field-group form__field-group_time">
					{{ form.time_for_preparing|add_class:"form__input" }}
					<label for="form.time_for_preparing.auto_id" class="form__label">минут</label>
					<span class="form__error">{{ form.time_for_preparing.errors.0 }}</span>
				</div>
			</div>
			<div class="form__group">
				<label for="id_description" class="form__label">Описание</label>
				<div class="form__field-group">
					<textarea name="description" id="id_description" rows="8" class="form__textarea"></textarea>
					<span class="form__error">{{ form.description.errors.0 }}</span>
				</div>
			</div>
			<div class="form__group">
				<span class="form__label">Загрузить фото</span>
				<div class="form__field-group">
					<input type="file" name="file" id="id_file">
					<span class="form__error"></span>
				</div>
			</div>
			<div class="form__footer">
				<button class="button button_style_blue">Создать рецепт</button>
			</div>
		</form>
	</div>
{% endblock content %}

{% block scripts %}
	<script src="{% static 'recipes/js/config/config.js' %}"></script>
	<script src="{% static 'recipes/js/components/Header.js' %}"></script>
	<script src="{% static 'recipes/js/utils/debouncing.js' %}"></script>
	<script src="{% static 'recipes/js/api/Api.js' %}"></script>
	<script src="{% static 'recipes/formRecipe.js' %}"></script>
{% endblock scripts %}
