{% extends "base.html" %}
{% load static %}
{% load user_filters %}
{% block title %}Рецепты{% endblock %}
{% block css_file %}'recipes/pages/index.css'{% endblock %}
{% block link_css %}
	<link rel="stylesheet" href="{% static 'recipes/pages/index.css' %}">
{% endblock %}

{% block nav %}         
	<nav class="nav">
		<div class="nav__container container">
			<ul class="nav__items list">
				<li class="nav__item nav__item_active"><a href="#" class="nav__link link">Рецепты</a></li>
				<li class="nav__item nav__item_disabled"><a href="#" class="nav__link link">Список покупок <span class="badge badge_style_blue nav__badge" id="counter">4</span></a></li>
			</ul>
			<ul class="nav__items list">
				<li class="nav__item"><a href="#" class="nav__link link">Войти</a></li>
				<li class="nav__item"><a href="#" class="button button_style_blue">Создать аккаунт</a></li>
			</ul>
		</div>
	</nav>
{% endblock nav %}

{% block content %}
	<div class="main__header">
		<h1 class="main__title">Рецепты</h1>
		{% include "includes/tags_block.html" %}

	</div>
	<div class="card-list">
		{% for recipe in page_obj %}
			{% include "recipes/includes/recipe_item_preview.html" with recipe=recipe%}
		{% endfor %}
	</div>
  {% if page_obj.has_other_pages %}
	{% include "includes/paginator.html" with items=page_obj paginator=paginator %}
  {% endif %}
{% endblock content %}

{% block scripts %}
	<script src="{% static 'recipes/js/components/MainCards.js' %}"></script>
	
	<script src="{% static 'recipes/js/components/Purchases.js' %}"></script>
	
	<script src="{% static 'recipes/js/config/config.js' %}"></script>
	<script src="{% static 'recipes/js/components/CardList.js' %}"></script>
	<script src="{% static 'recipes/js/components/Header.js' %}"></script>
	
	<script src="{% static 'recipes/js/api/Api.js' %}"></script>
	<script src="{% static 'recipes/indexNotAuth.js' %}"></script>
{% endblock scripts %}