.form__item-error {
    list-style-type: none;
    cursor: pointer;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: grey;
}
.form__item-error:last-child {
    margin-bottom: 0;
}
